:root{
	--font:'Nunito', sans-serif;
	--pink:#E75387;
	--green:#88CDD0;
	--black:#242627;
}

html{
	font-size:62.5%;
}

body{
	font-family: var(--font);
	font-size: 1.6rem;
	color: var(--black);
	line-height: 1.3;
	background-color: #fff;
	padding: 0;
	margin: 0;
}

.container{
	max-width: 90rem;
}


a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
}

ul , li{
	list-style: none;
}

img{
	display: block;
}

.title-text{
	font-family: var(--font);
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 1.3;
	text-transform: capitalize;
	color: var(--black);
	padding: 0;
	margin: 0;
}

.subtitle-text{
	font-family: var(--font);
	font-weight: 500;
	font-size: 1.3rem;
	color: var(--green);
	line-height: 1.3;
	text-transform: uppercase;
	padding: 0 0 1rem 0;
	margin: 0;
}

.para-text{
	font-family: var(--font);
	font-weight: 400;
	font-size: 1.5rem;
	color: var(--black);
	line-height: 1.9;
	text-transform: capitalize;
	padding: 1.5rem 0;
	margin: 0;
}

.submit-btn{
	font-family: var(--font);
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.3;
	color: #fff;
	background-color: var(--pink);
	text-transform: uppercase;
	text-align: center;
	padding: 1rem 3rem;
	margin: 0;
	border: none;
	border-radius: 0.5rem;
}


/*header end*/
header{
	padding: 3rem 0 5rem 0;
	margin: 0;
}

header .logo-block{
	display: flex;
	justify-content: center;
}
/*header end*/


/*entry-content-section start*/
.entry-content-section{
	padding: 15rem 0;
	margin: 0;
}

.entry-content-section .image-block{
	width: 40rem;
}

.entry-content-section .text-block{
	padding: 0 3rem;
	margin: 0;
}

.entry-content-section .text-block .title-block{
	display: flex;
	flex-direction: column-reverse;
}
/*entry content section end*/

/*subscribe section*/
.subscribe-section{
	padding: 4rem 0;
	margin-inline: auto;
	max-width: 70%;
}

.subscribe-section h1{
	font-family: var(--font);
	font-weight: 600;
	font-size: 2.8rem;
	line-height: 1.3;
	text-transform: capitalize;
	text-align: center;
	color: var(--black);
	padding: 0 0 3.5rem 0;
	margin: 0;
}

.subscribe-section form{
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.subscribe-section form .form-control{
	width: 28rem;
}

.subscribe-section form input::placeholder{
	font-family: var(--font);
	font-weight: 400;
	font-size: 1.2rem;
	text-transform: capitalize;
}


/*business leadership section*/
.business-leadeship-section{
	padding: 15rem 0;
	margin: 0;
}

.business-leadeship-section .text-block{
	padding: 0 3rem;
	margin: 0;
	max-width: 65%;
}

.business-leadeship-section .text-block .title-block{
	display: flex;
	flex-direction: column-reverse;
}

.business-leadeship-section .text-block ul {
	padding-left: 0;
}


.business-leadeship-section .text-block ul li {
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	padding-left: 3rem;
	margin: 0 0 1.2rem 0;
	font-size: 1.5rem;
	line-height: 1.3;
	background-size: 1.5rem;
	background-position: 0 0.3rem;
}

.business-leadeship-section .image-block{
	max-width: 35%;
}

/*business leadership section end*/

/*carousel section start*/

.carousel-section{
	padding: 5rem 0;
	margin: 0;
	background-image: url(../images/pexels-fauxels-3184357.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.carousel-section::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #3D083F;
	opacity: 0.9;
}

.carousel-section .carousel-inner .carousel-item .custom-block{
	background-color: #fff;
	border: 0.1rem solid #fff;
	border-radius: 0.8rem;
	text-align: center;
	max-width: 60rem;
	padding: 1rem 3rem 3rem 1rem;
	margin-inline: auto;
}

.carousel-section .carousel-inner .carousel-item .custom-block img{
	display: inline-block;
	padding: 1rem 0;
	max-width: 8rem;
	height: 8rem;
	object-fit: cover;
	border-radius: 50%;
}


.carousel-section .carousel-inner .carousel-item .custom-block h4{
	font-family: var(--font);
	font-weight: 600;
	font-size: 2.2rem;
	line-height: 1.3;
	text-transform: capitalize;
	text-align: center;
	color: var(--black);
	padding: 0 0 1rem 0;
	margin: 0;
}

.carousel-section .carousel-inner .carousel-item .custom-block h5{
	font-family: var(--font);
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: center;
	color: #aaa;
	padding: 0 0 1rem 0;
	margin: 0;
}


.carousel-section .carousel-indicators [data-bs-target]{
	background-color: red;
	z-index: 9999;
}

.carousel-section .carousel-indicators [data-bs-target]{
	width: 1.5rem;
	height:1.5rem;
	border-radius: 50%;
	background-color: rgba(136, 205, 208, 0.5);
}

.carousel-section .carousel-indicators [data-bs-target].active{
	background-color: var(--green);
}

/*carousel section end*/

/*women in business section start*/

.business-section{
	padding: 15rem 0;
	margin: 0;
}

.business-section .image-block{
	width: 100rem;
}

.business-section .text-block{
	padding: 0 3rem;
	margin: 0;
}

.business-section .title-block{
	display: flex;
	flex-direction: column-reverse;
}

/*women in business section end*/

.featured-section{
	padding: 0;
	margin: 0;
}

.featured-section h3{
	min-width: 10rem;
	font-family: var(--font);
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.3;
	color: var(--black);
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

.featured-section .d-flex{
	align-items: center;
	gap: 0.5rem;
}

/*featured section end*/

/*bottom subscribe section*/
.subscribe-bottom{
	padding: 10rem 0;
	margin-inline: auto;
	max-width: 60%;
}

.subscribe-bottom h1{
	font-family: var(--font);
	font-weight: 600;
	font-size: 2.8rem;
	line-height: 1.3;
	text-align: center;
	color: var(--black);
	padding: 0 0 1rem 0;
	margin: 0;
}

.subscribe-bottom h3{
	font-family: var(--font);
	font-weight:400;
	font-size: 1.5rem;
	line-height: 1.3;
	text-transform: capitalize;
	text-align: center;
	color: var(--black);
	padding: 0 0 3.5rem 0;
	margin: 0;
}

.subscribe-bottom form{
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 2rem 0 0 0;
}

.subscribe-bottom form .form-control{
	width: 28rem;
}

.subscribe-bottom form input::placeholder{
	font-family: var(--font);
	font-weight: 400;
	font-size: 1.2rem;
	text-transform: capitalize;
}

/*bottom subscibe section end*/

/*footer start*/

.footer-section{
	padding: 3rem 0;
	margin: 0;
	text-align: center;
}

.footer-section h2{
	font-family: var(--font);
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.3;
	text-transform: uppercase;
	color: var(--black);
}

.footer-section h2 > a{
	color: var(--pink);
}

.footer-section span{
	padding: 0 0.5rem;
}

/*footer end*/



/*MEDIA QUERY START*/

@media only screen and (max-width:1366px) {
/*all ok*/
	
}

@media only screen and (max-width:1199px) {
/*all ok*/
	
}

@media only screen and (max-width:991px) {
	.entry-content-section {
		padding: 4rem 0;
		margin: 0;
	}

	.business-leadeship-section {
		padding: 4rem 0;
		margin: 0;
	}

	.business-section {
		padding: 4rem 0;
		margin: 0;
	}

	.featured-section .d-flex {
		flex-wrap: wrap;
		justify-content: center;
	}

	.subscribe-bottom {
		padding: 4rem 0;
		margin-inline: auto;
		max-width: 60%;
	}
}

@media only screen and (max-width:768px) {
	.title-text {
		font-size: 2.5rem;

	}

	.para-text {

		font-size: 1.4rem;

	}
}

@media only screen and (max-width:600px){
	.entry-content-section .image-block {
		max-width: 50%;
		width: auto;
	}

	.entry-content-section .text-block {
		padding: 0 3rem;
		margin: 0;
		max-width: 50%;
	}

	.business-leadeship-section .text-block {
		max-width: 50%;
	}

	.business-leadeship-section .image-block {
		max-width: 50%;
	}

	.business-section .image-block {
		max-width: 40%;
		width: auto;
	}

	.business-section .text-block {
		max-width: 60%;
	}

	.subscribe-bottom {
		max-width: 70%;
	}
}


@media only screen and (max-width:575px){
	header {
		padding: 2rem 0;
		margin: 0;
	}

	.subscribe-section h1 {
		font-size: 2.2rem;
	}

	.title-text {
		font-size: 2.2rem;
	}

	.subscribe-bottom h1 {
		font-size: 2.2rem;
	}
}


@media only screen and (max-width:500px){
	header .logo-block {
		width: 20rem;
		margin-inline: auto;
	}

	.entry-content-section .d-flex{
		flex-wrap: wrap;
	}

	.entry-content-section .image-block {
		max-width: 100%;
		width: 100%;
	}

	.entry-content-section .image-block .img-fluid{
		margin-inline: auto;
	}


	.entry-content-section .text-block {
		margin-top: 3rem;
		max-width: 100%;
	}

	.business-leadeship-section .d-flex{
		flex-wrap: wrap;
		flex-direction: column-reverse;
		gap: 3rem;
	}

	.business-leadeship-section .d-flex > .text-block,
	.business-leadeship-section .d-flex > .image-block{
		width: 100%;
		max-width: 100%;
	}
	.business-leadeship-section .d-flex > .image-block .img-fluid{
		margin-inline: auto;
	}
	.business-section .d-flex{
		flex-wrap: wrap;
		gap: 3rem;
	}
	.business-section .d-flex .image-block,
	.business-section .d-flex .text-block{
		max-width: 100%;
		width: 100%;
	}

	.business-section .d-flex .image-block .img-fluid{
		margin-inline: auto;

	}

	.subscribe-bottom {
		max-width: 100%;
	}


}

@media only screen and (max-width:450px){
	.title-text {
		font-size: 2rem;
	}

	.subscribe-section form {
		flex-direction: column;
	}

	.subscribe-section h1 {
		font-size: 2rem;
	}

	.subscribe-bottom h1 {
		font-size: 2rem;
	}

	.subscribe-bottom form {
		flex-direction: column;
	}
}

@media only screen and (max-width:350px){
	header .logo-block {
		width: 18rem;
	}

	.subscribe-section form .form-control {
		 width: auto; 
	}

	.subscribe-bottom form .form-control {
		width: auto;
	}
}